<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'main.css' %>
</head>
<body>
  <main id='users'>
    <h1>List of all users</h1>
    <section id='user_box'>
    <% @users.each do |user| %>
        <img class='image' src=<%= user.photo %> alt='profile picture' />
        <div class='user_name'>
          <h2 class='name'><%= link_to "#{user.name}", "/users/#{user.id}" %></h2>
          <p class='posts_counter'>Number of posts: <%= user.posts_counter%></p>
        </div>
    </section>
    <% end %>
  </main>
</body>
</html>