<!DOCTYPE html>
<html>
<head></head>
<body>
  <div id='users'>
    <% @users.each do |user| %>
      <%= link_to "/users/#{user.id}" do %>
        <div id='user_box'>
        <img src=<%= user.photo %> alt='pic'>
        <div class='container'>
          <h1><%= user.name %></h1>
          <p>Number of posts: <%= user.posts_counter%></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</body>
</html>