<!DOCTYPE html>
<html>
<head></head>
<body>
  <div id='users'>
    <% @users.each do |user| %>
      <%= link_to "/users/#{user.id}" do %>
        <%= render "partials/user_box", user: user %>
      <% end %>
    <% end %>
  </div>
</body>
</html>