* {
  padding: 0;
  margin: 0;
}

#user_box,
.bio {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  border: 2px solid red;
}

.image {
  border: 2px solid green;
  width: 6.25rem;
  height: 6.25rem;
}

.user_name {
  border: 2px solid red;
  display: flex;
  padding: 1.5rem;
  margin-left: 3rem;
}

.posts_counter {
  align-self: flex-end;
  margin-left: 3rem;
}

.bio,
#posts {
  flex-direction: column;
}

.bio h4 {
  margin-bottom: 1.5rem;
}

#post {
  border: 2px solid green;
  padding: 1rem;
  margin: 1rem;
}

.texts {
  margin-top: 2rem;
}

.comlik {
  margin-top: 0.25rem;
  padding-right: 1rem;
  display: flex;
  justify-content: end;
}
